@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.ad-banner{
    height: 75vh;
    display: flex;
    width: 100%;
    margin: 5% 0;
}

.adbanner-left{
    width: 50%;
}

.adbanner-right{
    width: 50%;
}

@media only screen and (max-width: 800px){

    .ad-banner{
        display: block;
        height: max-content;
        /* flex-direction: column; */
    }

    .adbanner-left{
        width: 100%;
    }

    .adbanner-right{
        width: 100%;
    }
}

.shop-banner-button{
    padding: 2%;
    font-size: 1.5rem;
    margin-top: 50px;
    background-color: white;
}


.archivo-black-regular {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.inter-thin {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

.inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

.inter-exp {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}
