#banner{
    display: flex;
    width: 100%;
    margin-top: 15%;
}

#banner img{
    width: 100%;
    aspect-ratio: 1/1;
}

#banner-img-one{
    width: 50%;
}

#banner-img-two{
    width: 50%;
    aspect-ratio: 1/1;
}

@media only screen and (max-width: 800px){
    #banner{
        margin-top: 10vh;
    }
}
/* main {
    background: url('/banner.jpg');
    background-size: cover;
    background-position: center;
    background-color: #F5F6FB;
    height: 85vh;
    width: 90vw;
    margin: 0 auto;
}

@media only screen and (max-width: 1000px){
    main{
        height: 60vh;
    }
}

@media only screen and (max-width: 550px) {
    main {
        height: 40vh;
    }
}

@media only screen and (max-width: 450px) {
    main {
        height: 35vh;
    }
} */