
#header{
    width: 100vw;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.sticky{
    position: fixed;
    top: 0;
    z-index: 1;
}

#logo{
    width: 100%;
    text-align: center;
    padding: 2%;
    position: -webkit-sticky; /* Safari */
    background-color: white;
}

#logo img{
    width: 200px;
}

#logo div{
    font-size: 2rem;
}

nav{
    font-size: 1rem;
    display: flex;
    justify-content: center;
    padding-bottom: 1%;
    background-color: white;
}

#header-links{
    display: flex;
    gap: 50px;
}

#mobile-menu{
    display: none;
    justify-content: space-between;
    padding: 3vh 5vw;
    font-size: 1.5rem;
    background-color: white;
}

#mobile-menu img{
    width: 30px;
}

#mobile-logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#mobile-menu-box {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    z-index: 1;
    background-color: white;
    padding: 15vw 10vw;
    display: none;
    flex-direction: column;
    gap: 30px;
    font-size: 2rem;


}

#mobile-menu-btn:hover{
    transform: scale(1.1);
    cursor: pointer;
}

#mobile-menu-login{
    transform: scale(1.1);
    cursor: pointer;
}

@media only screen and (max-width: 870px){
    #desktop-menu{
        display: none;
    }
    
    #mobile-menu{
        display: flex;
        font-size: 1.5rem;
    }
    
}

#profile-cart{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
}

@media only screen and (max-width: 350px){
    #mobile-menu{
        font-size: 1.2rem;
    }
    
    #mobile-menu img{
        width: 25px;
    }
}
