@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.archivo-black-regular {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.inter-thin {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

.inter-exp {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

#header{
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 1;
}

#logo{
    width: 100%;
    text-align: center;
    padding: 2%;
    position: -webkit-sticky; /* Safari */
    background-color: white;
}

#logo img{
    width: 200px;
}

#logo div{
    font-size: 2rem;
}

nav{
    font-size: 1rem;
    display: flex;
    justify-content: center;
    padding: 2%;
    margin-bottom: 1%;
    background-color: white;
}

#header-links{
    display: flex;
    gap: 50px;
}

#mobile-menu{
    display: none;
    justify-content: space-between;
    padding: 3vh 5vw;
    font-size: 1.5rem;
    background-color: white;
}

#mobile-menu img{
    width: 30px;
}

#mobile-logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#mobile-menu-box {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    background-color: white;
    padding: 30vw 10vw;
    display: none;
    flex-direction: column;
    gap: 30px;
    font-size: 2rem;

}

#mobile-menu-btn:hover{
    transform: scale(1.1);
    cursor: pointer;
}

#mobile-menu-login{
    transform: scale(1.1);
    cursor: pointer;
}

@media only screen and (max-width: 800px){
    #desktop-menu{
        display: none;
    }
    
    #mobile-menu{
        display: flex;
        font-size: 1.5rem;
    }
    
}

#profile-cart{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
}

@media only screen and (max-width: 350px){
    #mobile-menu{
        font-size: 1.2rem;
    }
    
    #mobile-menu img{
        width: 25px;
    }
}
