.policy{
    padding: 0 20%;
    margin: 0 0 0 0;
}

.policy-title{
    margin-bottom: 2%;
    font-weight: lighter;
}

.policy-content{
    font-weight: 300;
}

@media only screen and (max-width: 750px){
    .policy{
        padding: 0 10%;
        margin: 20% 0 0 0;
    }
}

@media only screen and (max-width: 450px){
    .policy{
        margin: 30% 0 0 0;
    }
}

@media only screen and (max-width: 300px){
    .policy{
        padding: 0 10%;
        margin: 40% 0 0 0;
    }
}