.shop{
    width: 90vw;
    margin: 0 auto;
    /* background-color: #F2F2F3; */
}

#shop-content{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    align-content: center;
    justify-content: center;
}

#shop-title{
    grid-column: 2/-1;
    font-size: 1.5rem;
}


@media only screen and (max-width: 1000px){

    #shop-content{
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
}

@media only screen and (max-width: 900px){
    
    #shop-content{
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
}

@media only screen and (max-width: 600px){
    
    #shop-content{
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}
@media only screen and (max-width: 500px){
    .shop{
        margin-top: 20%;
    }
    #shop-content{
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
}

@media screen and (max-width: 400px){
    .shop{
        margin-top: 25%;
    }
    #shop-content{
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    }
}
 